@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #F6F7F8;
  --foreground: #1c1e22;
  --muted-foreground: #676f7e;
  --accent: #dddfe1;
  --card: #ffffff;
  --disabled: #f3f4f6;
  --primary: #275ed9;
  --secondary: #7183a9;
  --menu: #F9F9FA;
  --success: #00c950;
  --warning: #ef8206;
  --danger: #ec1e1e;
  --info: #2b7fff;
}

.dark {
  --background: #17191c;
  --foreground: #ffffff;
  --muted-foreground: #b7b7b7;
  --accent: #3c3e42;
  --card: #202327;
  --disabled: #3b3d41;
  --primary: #275ed9;
  --secondary: #7183a9;
  --menu: #17191c;
  --success: #06A848;
  --warning: #F9941F;
  --danger: #EF4444;
  --info: #37acfb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-card: var(--card);
  --color-disabled: var(--disabled);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-menu: var(--menu);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-info: var(--info);
}

.logo {
  font-family: var(--font-barlow);
  font-weight: 700;
}

.sign-in-button {
  font-family: var(--font-roboto), sans-serif;
  border: 0;
  color: #1F1F1F;
  font-size: 14px;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}