@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #17191c;
  --accent: #2f3033;
  --card: #ffffff;
  --disabled: #f3f4f6;
  --primary: #275ed9;
  --secondary: #7183a9;
  --menu: #b0b0b0;
  --success: #40a633;
  --warning: #de9c2d;
  --danger: #ba2525;
  --info: #275ed9;
}

.dark {
  --background: #17191c;
  --foreground: #ffffff;
  --accent: #3c3e42;
  --card: #202327;
  --disabled: #3b3d41;
  --primary: #275ed9;
  --secondary: #7183a9;
  --menu: #17191c;
  --success: #06A848;
  --warning: #F9941F;
  --danger: #EF4444;
  --info: #37acfb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-card: var(--card);
  --color-disabled: var(--disabled);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-menu: var(--menu);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-info: var(--info);
}

.logo {
  font-family: var(--font-barlow);
  font-weight: 700;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}